{% extends 'layout.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'card_preview.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block body %}
<h2 class="text-center my-4">All blogs</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

        {% for blog in blogs %}
            {% include 'blog.html' %}
        {% empty %}
        <h3 class="col-3 text-center">No blogs uploaded</h3>
        {% endfor %}

    </div>
  </div>
{% endblock %}